<div class="row">
  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-body class="panel">
        <h5>Number of flights:</h5>
        <h4>{{stats?.flightsCount}}</h4>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-body class="panel">
        <h5>Miles covered:</h5>
        <h4>{{stats?.milesCovered}}</h4>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6">
    <nb-card>
      <nb-card-header>
        Top routes:
      </nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-sm-6">
    <nb-card>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
</div>
