<div class="row">
  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-body class="panel">
        <h5>Number of flights:</h5>
        <h4>
          <span [countUp]="stats?.flightsCount" [options]="{duration: 1}">0</span>
        </h4>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-body class="panel">
        <h5>Miles covered:</h5>
        <h4>
          <span [countUp]="stats?.milesCovered" [options]="{duration: 1}">0</span>
        </h4>

      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-6">
    <nb-card>
      <nb-card-header>
        Top routes:
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let route of stats?.topRoutes">
            <h5 class="top-flights">
              <span>
                From {{ route.departurePoint }} to {{ route.arrivalPoint }}
              </span>
              <span>
                {{ route.count }}
              </span>
            </h5>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-sm-6">
    <nb-card>
      <nb-card-body>
        <google-chart [data]="pieChart"></google-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>
