<div class="row">
  <nb-card>
    <nb-card-body>
      <div class="container">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-sm-6 col-12">
              <input formControlName="dateOfTravel" fullWidth nbInput placeholder="Date of flight"
                [nbDatepicker]="datepicker">
              <nb-datepicker format="MM-dd-yyyy" #datepicker></nb-datepicker>
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="airline" fullWidth nbInput type="text" placeholder="Airline">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="flightNumber" fullWidth nbInput type="number" placeholder="Flight Number">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="aircraftRegistration" fullWidth nbInput type="text"
                placeholder="Aircraft Registration">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="seatNumber" fullWidth nbInput type="number" placeholder="Seat Number">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="departurePoint" fullWidth nbInput type="text" placeholder="Departure Point">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="capitain" fullWidth nbInput type="text" placeholder="Captain">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="firstOfficer" fullWidth nbInput type="text" placeholder="First Officer">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="customerServiceManager" fullWidth nbInput type="text"
                placeholder="Customer Service Manager">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="milesTravelled" fullWidth nbInput type="number"
                placeholder="Miles Travaled (temp)">
            </div>
          </div>
        </form>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-4">
            <button (click)="submit()" nbButton fullWidth>
              Add Flight
            </button>
          </div>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
  <nb-card style="width:100%">
    <nb-card-header>
      History
    </nb-card-header>
    <nb-card-body>
      <!-- TODO: This table should show the history, show all fields -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Symbol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of dataSource">
            <th scope="row">{{el.position}}</th>
            <td>{{el.name}}</td>
            <td>{{el.weight}}</td>
            <td>{{el.symbol}}</td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
<!-- Flight Information Collected:
        Date of Travel X
        Airline X
        Flight Number X
        Aircraft Registration X
        Seat Number X
        Departure Point X
        Arrival Point X
        Captain X
        First Officer X
        Customer Service Manager X
        Miles Travelled – API Grabbed X

      When you are entering this data the database is being searched, with details of any flights you have been on with any of
    the same:

        Airline
        Flight Numbers
        Aircraft Registrations 
-->
