<div class="row">
  <nb-card>
    <nb-card-header>
      Add a new flight:
    </nb-card-header>
    <nb-card-body>
      <div class="container">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-sm-6 col-12">
              <input formControlName="travelDate" fullWidth nbInput placeholder="Date of flight"
                [nbDatepicker]="datepicker">
              <nb-datepicker format="MM-dd-yyyy" #datepicker></nb-datepicker>
            </div>
            <div class="col-sm-6 col-12">
              <input (input)="refresh()" formControlName="airline" fullWidth nbInput type="text" placeholder="Airline">
            </div>
            <div class="col-sm-6 col-12">
              <input (input)="refresh()" formControlName="flightNumber" fullWidth nbInput type="text"
                placeholder="Flight Number">
            </div>
            <div class="col-sm-6 col-12">
              <input (input)="refresh()" formControlName="aircraftRegistration" fullWidth nbInput type="text"
                placeholder="Aircraft Registration">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="seatNumber" fullWidth nbInput type="text" placeholder="Seat Number">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="departurePoint" fullWidth nbInput type="text" placeholder="Departure Point">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="arrivalPoint" fullWidth nbInput type="text" placeholder="Arrival Point">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="captain" fullWidth nbInput type="text" placeholder="Captain">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="firstOfficer" fullWidth nbInput type="text" placeholder="First Officer">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="customerServiceManager" fullWidth nbInput type="text"
                placeholder="Customer Service Manager">
            </div>
            <div class="col-sm-6 col-12">
              <input formControlName="milesTravelled" fullWidth nbInput type="number"
                placeholder="Miles Travaled (temp)">
            </div>
            <div class="col-12 col-sm-6">
              <!-- [disabled]="!this.form.valid" -->
              <button (click)="submit()" nbButton fullWidth>
                Add Flight
              </button>
            </div>
          </div>
        </form>
      </div>

    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="dataSource?.length > 0" style="width:100%">
    <nb-card-header>
      History
    </nb-card-header>
    <nb-card-body>
      <!-- TODO: This table should show the history, show all fields -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date Of Travel</th>
            <th scope="col">Airline</th>
            <th scope="col">Flight Number</th>
            <th scope="col">Aircraft Registration</th>
            <th scope="col">Seat Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of dataSource">
            <th scope="col">{{el.id }}</th>
            <th scope="col">{{el.travelDate }}</th>
            <th scope="col">{{el.airline }}</th>
            <th scope="col">{{el.flightNumber }}</th>
            <th scope="col">{{el.aircraftRegistration }}</th>
            <th scope="col">{{el.seatNumber }}</th>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
